.why-choose-us {
  height: 68px;
  width: 320px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}

.why-choose-us-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-73xl);
}

.frame-child2,
.frame-child3,
.frame-child5 {
  height: 215px;
  width: 400px;
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
  display: none;
}

.b,
.d,
.r,
.ellipse-div,
.frame-child4,
.frame-child6 {
  position: absolute;
}

.ellipse-div,
.frame-child4,
.frame-child6 {
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(180deg, #ffd178, #ff8a8a); /* Adjust the colors as needed */
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.b,
.d,
.r {
  margin: 0;
  top: 17px;
  left: 28px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 44px;
  height: 61px;
  min-width: 44px;
  z-index: 3;
}

.ellipse-parent,
.ellipse-container {
  height: 102px;
  width: 97px;
  position: relative;
  min-width: 97px;
}

.i-found-my,
.found-my-partner,
.found-a-developer {
  height: 146px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-3xl);
  display: inline-block;
  min-width: 148px;
  z-index: 2;
}

.rectangle-container,
.rectangle-parent1,
.rectangle-parent2 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}

.rectangle-container,
.rectangle-parent1,
.rectangle-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
  min-width: 300px;
  z-index: 1;
}

.rectangle-container {
  flex: 0.9888;
  padding: var(--padding-21xl) var(--padding-4xl) var(--padding-10xl);
}

.rectangle-parent1 {
  flex: 1;
  padding: var(--padding-18xl) var(--padding-mini) var(--padding-13xl) var(--padding-8xl);
}

.rectangle-parent2 {
  flex: 0.9831;
  padding: var(--padding-21xl) var(--padding-2xl) var(--padding-10xl) var(--padding-8xl);
}

.frame-wrapper1 {
  width: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 97px;
}

.ellipse-group {
  align-self: stretch;
  height: 102px;
  position: relative;
}

.desktop-2-inner,
.frame-parent1,
.frame-parent2,
.rectangle-parent2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.frame-parent2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-21xl);
  font-size: var(--font-size-45xl);
}

.desktop-2-inner,
.frame-parent1 {
  justify-content: flex-start;
}

.frame-parent1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-33xl);
}

.desktop-2-inner {
  width: 1360px;
  flex-direction: row;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-merriweather);
}

@media screen and (max-width: 1050px) {
  .why-choose-us {
    font-size: var(--font-size-7xl);
  }

  .b,
  .d,
  .r {
    font-size: var(--font-size-32xl);
  }
}

@media screen and (max-width: 750px) {
  .frame-parent2 {
    gap: var(--gap-xl);
  }

  .frame-parent1 {
    gap: var(--gap-7xl);
  }
}

@media screen and (max-width: 450px) {
  .why-choose-us {
    font-size: var(--font-size-lgi);
  }

  .why-choose-us-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .b,
  .d,
  .r {
    font-size: var(--font-size-19xl);
  }

  .ellipse-parent,
  .ellipse-container {
    flex: 1;
  }

  .i-found-my,
  .found-my-partner,
  .found-a-developer {
    font-size: var(--font-size-lgi);
  }

  .rectangle-container,
  .rectangle-parent1,
  .rectangle-parent2 {
    flex-wrap: wrap;
    flex: 1;
  }

  .rectangle-parent1 {
    gap: var(--gap-mini);
  }
}
